* {
  padding: 0;
  margin: 0;
}

#container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: yellow;
}

.content {
  background-color: green;
}

.list {
  background-color: white;

}

.sidebar {
  background-color: gray;
}

.footer {
  background-color: blue;
}

.sidebar {
    float: right; /* Обтекание по левому краю */
    width: 300px; /* Ширина правой колонки */

}
.content {
    margin-right: 50px; /* Отступ справа */
    margin-left: 50px; /* Отступ слева */
}
